<div class="modal fade" id="list" tabindex="-1" aria-labelledby="newList" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newList">Créer une nouvelle Liste</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <div aria-hidden="true" class="btn-modal-close">&times;</div>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@list) do |f| %>
          <%= f.input :name, label: "Nom", required: true %>
          <%= f.input :img, label: "Image", as: :file, required: true %>
          <%= f.submit "Créer une liste", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
